# Development: Pakai SQLite
DATABASE_URL="file:./dev.db"

# Production: Ganti ke PostgreSQL (Supabase)
# DATABASE_URL="postgresql://user:password@host:5432/dbname"

JWT_SECRET="isi-dengan-random-string-64-karakter"
